.burger {
  display: none;
  z-index: 7;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  .burger__wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 8px;

    .burger__block {
      font-size: 34px;
      line-height: 37px;

      a {
        color: #fff;
      }
    }
  }
}

.canvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}

._active__burger.burger {
  display: block;
}

._active__burger.canvas {
  display: block;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

@media (max-width: 570px) {
  .burger {
    top: 10%;
    .burger__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
}
