.footer {
  margin-top: 104px;
  padding-bottom: 20px;
  font-family: montserrat;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  justify-self: center;
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 40px;
  }
  .footer__block {
    p {
      white-space: nowrap;
      padding-top: 20px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }
    h3 {
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      color: #1f2041;
      text-transform: uppercase;
    }
    ul {
      padding-top: 21px;
      li {
        &:not(:first-child) {
          padding-top: 20px;
        }
      }
    }
    input {
      margin-top: 20px;
      width: 260px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 4px;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.25);
      font-family: montserrat;
      padding-top: 12px;
      padding-left: 15px;
      padding-bottom: 8px;
    }
  }
}
