.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  color: #bc9cff;
  font-size: 35px;
  vertical-align: middle;
  position: static;
  display: inline;
}

.flatpickr-current-month {
  font-family: quicksand-bold;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
  width: 100%;
}

.flatpickr-months .flatpickr-month {
}

.flatpickr-current-month input.cur-year {
  //   display: none;
}
