.header {
  padding: 0 10px;
  height: 70px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.header__wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__name {
  display: flex;
  align-items: center;
  img {
    &:first-child {
      width: 40px;
      height: 40px;
    }
    &:last-child {
      width: 53.19px;
      height: 40px;
    }
  }
}
.header__nav {
  ul {
    display: flex;
    align-items: center;
    li {
      font-size: 14px;
      line-height: 17px;
      button {
        border-radius: 22px;
        padding: 9px 20px 10px 20px;
        background-color: #fff;
        border: 3px solid #bc9cff;
        span {
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
          color: #bc9cff;
          font-family: montserrat-bold;
        }
        &:hover {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          span {
            color: #fff;
          }
        }
      }
      &:not(:last-child) {
        padding-right: 20px;
      }

      a {
        color: rgba(31, 32, 65, 0.5);
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

//adaptiv////////////////////////////////////////////////////////////////////////////////////

.header__adap {
  i {
    background-color: #fff;
    color: #bc9cff;
    &:hover {
      color: #fff;
      background-color: #bc9cff;
      padding: 7px;
    }
  }
  .adap__link {
    display: none;
    position: absolute;
    top: 0;
    left: 15px;
  }

  .adap__back {
    display: none;
    .adap__enter {
      position: absolute;
      top: 5px;
      right: 15px;
    }
    .adap__reg {
      position: absolute;
      top: 5px;
      right: 85px;
    }
  }
}

@media (max-width: 992px) {
  .header__wrapper {
    justify-content: space-around;
  }
  .header__enter {
    display: none;
  }
  .header__reg {
    display: none;
  }
  .header__adap {
    .adap__back {
      display: block;
    }
  }
  .header__nav {
    ul {
      position: relative;
      right: 65px;
    }
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    justify-content: center;
    position: relative;
  }
  .header__adap {
    .adap__link {
      display: block;
    }
  }

  .header__nav {
    display: none;
  }
  .header__name {
  }
}
