.main {
  background-image: url("../../img/image3.png");
  background-size: cover;
  height: 900px;
  padding-top: 90px;
}
.main__wrapper {
}
.main__modal {
}
.main__title {
}
.main__block {
}
.main__arrival {
}
.main__departure {
}
.main__guests {
}
.choice {
}
