@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../fonts/#{$url}.woff2") format("woff2"),
      url("../#{$url}.woff") format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}

//   @media (max-width: 1200px) {
//     max-width: 970px;
//   }
//   @media (max-width: 992px) {
//     max-width: 762px;
//   }
//   @media (max-width: 768px) {
//     max-width: 538px;
//   }
//   @media (max-width: 576px) {
//     max-width: 346px;
//   }
