@import "normal";
@import "mixin";
@import "../../node_modules/flatpickr/dist/flatpickr.css";
body {
  font-family: montserrat;
  position: relative;
}

.container {
  max-width: 1160px;
  margin: 0px auto;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.pic {
  display: flex;
  align-items: center;
  img {
    &:first-child {
      width: 40px;
      height: 40px;
    }
    &:last-child {
      width: 53.19px;
      height: 40px;
    }
  }
}

@import "components/select";
@import "components/burger";
@import "components/header";
@import "components/footer";
@import "components/mainBlock";
@import "components/frastPickr";
@import "fonts";
