@import "normal";
@import "mixin";

body {
  font-family: montserrat;
  position: relative;
}

.container {
  max-width: 1160px;
  margin: 0px auto;
}

select {
  cursor: pointer;
}

@import "components/header";
@import "components/mainBlock";

@import "fonts";
