@import "normal";
@import "mixin";

body {
  font-family: montserrat;
  position: relative;
}

.container {
  max-width: 1160px;
  margin: 0px auto;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

@import "components/select";
@import "components/burger";
@import "components/header";
@import "components/mainBlock";

@import "fonts";
